<p id="notice"><%= notice %></p>


<h1><%= @client.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
	<strong>Dogs:</strong>
	<%= dog_links(@client) %>
  <%= link_to "[+]", new_client_dog_path(@client) %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> | 
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: "Are you sure?\nThis will delete all associated Dogs and Reports." } %>
<br/>
<%= link_to 'Back', clients_path %>
