<p id="notice"><%= notice %></p>

<h1><%= @client.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
  <div id="map" style="width: 480px; height: 320px;"></div>
</p>

<p>
	<strong>Pets:</strong>
	<%= dog_links(@client) %>
  <%= link_to "[+]", new_client_dog_path(@client) %>
</p>

<h1>Walks</h1>
<% @reports.each do |month, reports| %>
<table>
  <thead><tr><th colspan=5><%= month %></th></tr></thead>
  <tbody>
      <tr>
        <td>Date</td>
        <td>Time</td>
        <td>Duration</td>
        <td>Pets</td>
        <td>Late Cancellation</td>
      </tr>
      <% reports.each do |report| %>
      <tr>
        <td><%= link_to report.walk_date, report %></td>
        <td><%= report.formatted_walk_time %></td>
        <td><%= report.walk_duration %> min</td>
        <td><%= report.dog_names %></td>
        <td><%= "Yes" if report.no_show? %></td>
      </tr>
      <% end %>
      <tr><th colspan=3></th><th><%= (reports.sum(&:walk_duration)/60.to_f).round(2) %> hours</th><th></th></tr>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_client_path(@client), class: "btn" %> |
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: "Are you sure?\nThis will delete all associated Dogs and Reports." } %>
<br/>
<%= link_to 'Back', clients_path %>

<script type="text/javascript">
function clientMapLoad() {
  initMap();
  codeAddress("<%= @client.strip_address %>");
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=clientMapLoad">
</script>
