<%= simple_form_for(@report, html: {multipart: true}) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <%= f.association :client, :input_html => {:onchange => "load_dogs(this.value)"} %>

  <div id="client_dogs">
  <!-- via load_dogs is in reports.js.coffee -->
  </div>

  <div class="field">
    <%= f.label :walk_date, "Date" %>
    <input type="date", value="<%= @report.walk_date %>" name="report[walk_date]" />
  </div>

  <div class="field">
    <%= f.label :walk_time, "Time" %>
    <input type="time", value="<%= @report.walk_time %>" name="report[walk_time]" />
  </div>

  <div class="field">
    <%= f.label :walk_duration, "Duration (mins)" %>
    <input type="number", value="<%= @report.walk_duration %>" name="report[walk_duration]" />
  </div>

  <div class="field">
    <%= f.label :weather %>
    <%= f.text_field :weather %>
  </div>
  <div class="field">
    <%= f.label :recap, "Today" %>
    <%= f.text_area :recap %>
  </div>
  <div class="field">
    <%= f.label :pees, "Pee (# of times)" %>
    <%= f.text_field :pees %>
  </div>
  <div class="field">
    <%= f.label :poops, "Business (# of times, solid/loose/liquid)" %>
    <%= f.text_field :poops %>
  </div>
  <div class="field">
    <%= f.label :energy %>
    <%= f.text_field :energy %>
  </div>
  <div class="field">
    <%= f.label :vocalization %>
    <%= f.text_field :vocalization %>
  </div>
  <div class="field">
    <%= f.label :overall %>
    <%= f.text_field :overall %>
  </div>

  <div class="field">
    <%= f.fields_for :assets do |builder| %>
      <% if builder.object.new_record? %>
        <%= builder.label :picture, "Image File" %>
        <%= builder.file_field :picture %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
