<h1>Listing reports</h1>

<%= link_to 'New Report', new_report_path %>
<br/>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Pet care provider</th>
      <th>Pets</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.client.name, report.client %></td>
        <td><%= report.user.name %></td>
        <td><%= report.dog_names %></td>
        <td><%= report.walk_date.to_s(:long) %></td>
        <td><%= report.formatted_walk_time %></td>
        <td><%= link_to 'Show', report_path(id: report.uuid) %></td>
        <td><%= link_to 'Edit', edit_report_path(id: report.uuid) %></td>
        <td><%= link_to 'Destroy', id: report.uuid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @reports %>
</div>
