<% if current_user %>
<div class="admin">
  <%= link_to 'Edit', edit_report_path(@report) %> |
  <%= link_to 'Back', reports_path %>
</div>
<% end %>


<div class="report-card">

  <div class="grid-sidebar">

  <p>
    <ul class="report-card-photos">
    <% @report.assets.each do |asset| %>
      <li class="report-card-photo"><%= link_to image_tag(asset.picture.url(:square)), asset.picture.url %></li>
    <% end %>
    </ul>
  </p>

  </div>

  <div class="grid-main">

    <h1 class="report-card-header"><%= @report.dog_names %><span class="report-card-date"> / <%= @report.walk_date.strftime("%A, %d %b %Y") %></span></h1>

    <div class="report-left">

      <h3>Client:</h3>
      <p><%= @report.client.name %></p>

      <h3>Time:</h3>
      <p><%= time_str(@report.walk_time) %></p>


      <h3>Duration:</h3>
      <p><%= @report.walk_duration %> minutes</p>

      <h3>Weather:</h3>
      <p><%= @report.weather %></p>

      <h3>Overall:</h3>
      <p><%= @report.overall %></p>

    </div>

    <div class="report-right">
      <h3>Recap:</h3>
      <p><%= @report.recap %></p>

      <h3>Pees:</h3>
      <p><%= @report.pees %></p>

      <h3>Poops:</h3>
      <p><%= @report.poops %></p>

      <h3>Energy:</h3>
      <p><%= @report.energy %></p>

      <h3>Vocalization:</h3>
      <p><%= @report.vocalization %></p>

    </div>

  </div>

</div>