<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @report.client.name %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @report.dog_names %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.walk_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @report.walk_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @report.walk_duration %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @report.weather %>
</p>

<p>
  <strong>Recap:</strong>
  <%= @report.recap %>
</p>

<p>
  <strong>Pees:</strong>
  <%= @report.pees %>
</p>

<p>
  <strong>Poops:</strong>
  <%= @report.poops %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @report.energy %>
</p>

<p>
  <strong>Vocalization:</strong>
  <%= @report.vocalization %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @report.overall %>
</p>

<p>
  <strong>Pictures:</strong>
  <ul>
  <% @report.assets.each do |asset| %>
    <li><%= image_tag asset.picture.url %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
